# PyCity Schools Analysis

- Your analysis here
  
---

In [200]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [201]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [202]:
# Calculate the total number of students
student_count = len(school_data_complete.index)
student_count

39170

In [203]:
# Calculate the total budget
budget_df = school_data_complete.drop_duplicates(subset=["school_name"], keep="first")
#df1 = df.drop_duplicates(subset=["Courses", "Fee"], keep=False)
#https://sparkbyexamples.com/pandas/get-unique-rows-in-pandas/?expand_article=1
total_budget = budget_df.budget.sum()
total_budget

24649428

In [204]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [205]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [206]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [207]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [208]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [209]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame([[school_count, student_count, total_budget, average_math_score, 
                                  average_reading_score, passing_math_percentage, passing_reading_percentage, 
                                  overall_passing_rate]],
                                columns=[['Total Schools', 'Total Students', 'Total Budget', 'Average Math Score', 
                                          'Average Reading Score', '% Passing Math', '% Passing Reading', '% Passing Overall']])

# # Formatting
# district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Average Math score"] = district_summary["Average Math score"].map("${:,.2f}".format)
# district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("${:,.2f}".format)
# district_summary["% Passing Math"] = district_summary["% Passing Math"].map("$:,.2f}".format)
# district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f}".format)
# district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map("{:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Passing Overall
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [210]:
district_summary.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Passing Overall        float64
dtype: object

In [211]:
# Formatting
#district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
# district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
# district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format)
# district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format)
# district_summary["% Passing Math"] = district_summary["% Passing Math"].map("$:,.2f%}".format)
# district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:,.2f%}".format)
# district_summary["% Passing Overall"] = district_summary["% Passing Overall"].map("{:,.2f%}".format)
# district_summary

In [212]:
district_summary.dtypes

Total Schools              int64
Total Students             int64
Total Budget               int64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Passing Overall        float64
dtype: object

## School Summary

In [213]:
# Use the code provided to select all of the school types
school_types = school_data.loc[:,['school_name', 'type']]
school_types = school_types.rename(columns = {'type':'School Type'})

In [214]:
# Calculate the total student count per school
#per_school_counts = school_data_complete['school_name'].value_counts()
#per_school_counts = per_school_counts.to_frame()
#per_school_counts.rename(columns = {'school_name':'Total Students'})
per_school_counts = school_data.loc[:,['school_name', 'size']]
per_school_counts = per_school_counts.rename(columns = {'size':'Total Students'})

In [215]:
# Calculate the total school budget and per capita spending per school
per_school_budget = budget_df.loc[:,['school_name','budget']]
per_school_budget = per_school_budget.set_index('school_name')
per_school_budget = per_school_budget.rename(columns = {'budget':'Total School Budget'})

In [216]:

school_data["per_capita"] = school_data['budget'] / school_data['size']
per_capita_budget = school_data.loc[:,['school_name', 'per_capita']]

per_capita_budget = per_capita_budget.rename(columns = {'per_capita':'Per Student Budget'})

In [217]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby(["school_name"]).mean("math_score").math_score
per_school_reading = school_data_complete.groupby(["school_name"]).mean("reading_score").reading_score
per_school_reading = per_school_reading.to_frame()
per_school_math = per_school_math.to_frame()
per_school_reading = per_school_reading.rename(columns = {'reading_score':'Average Reading Score'})
per_school_math = per_school_math.rename(columns = {'math_score':'Average Math Score'})

In [218]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete.loc[(school_data_complete['math_score'] >= 70)]
school_students_passing_math = students_passing_math.groupby("school_name").count()
school_students_passing_math = school_students_passing_math[['math_score']]
school_students_passing_math.reset_index(inplace=True)

In [219]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete.loc[(school_data_complete['reading_score'] >= 70)]
school_students_passing_reading = students_passing_reading.groupby("school_name").count() 
school_students_passing_reading = school_students_passing_reading[['reading_score']]
school_students_passing_reading.reset_index(inplace=True)

In [220]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70) &
                                                             (school_data_complete["math_score"] >= 70)]
#students_passing_math_and_reading = school_data_complete[
    #(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).count()
school_students_passing_math_and_reading = school_students_passing_math_and_reading[['reading_score']]
school_students_passing_math_and_reading.reset_index(inplace=True)
school_students_passing_math_and_reading.rename(columns = {'reading_score':'passing both'})

              school_name  passing both
0      Bailey High School          2719
1     Cabrera High School          1697
2    Figueroa High School          1569
3        Ford High School          1487
4     Griffin High School          1330
5   Hernandez High School          2481
6      Holden High School           381
7       Huang High School          1561
8     Johnson High School          2549
9        Pena High School           871
10  Rodriguez High School          2119
11    Shelton High School          1583
12     Thomas High School          1487
13     Wilson High School          2068
14     Wright High School          1626

In [221]:
# Use the provided code to calculate the passing rates
per_school_math_df = pd.merge(school_students_passing_math,per_school_counts, on='school_name')
per_school_math_df["percent"] = per_school_math_df['math_score'] / per_school_math_df['Total Students']
per_school_math_df = per_school_math_df[["school_name", 'percent']]
per_school_math_df.rename(columns= {'percent': '% Passing Math'}, inplace = True)

per_school_reading_df = pd.merge(school_students_passing_reading,per_school_counts, on='school_name')
per_school_reading_df["percent"] = per_school_reading_df['reading_score'] / per_school_reading_df['Total Students']
per_school_reading_df = per_school_reading_df[["school_name", 'percent']]
per_school_reading_df.rename(columns= {'percent': '% Passing Reading'}, inplace = True)


per_school_overall_df = pd.merge(school_students_passing_math_and_reading,per_school_counts, on='school_name')
per_school_overall_df["percent"] = per_school_overall_df['reading_score'] / per_school_overall_df['Total Students']
per_school_overall_df = per_school_overall_df[["school_name", 'percent']]
per_school_overall_df.rename(columns= {'percent': '% Overall Passing'}, inplace = True )

#per_school_passing_math = school_students_passing_math["math_score"] / per_school_counts['Total Students'] * 100
#per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
#overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [222]:

# Create a DataFrame called `per_school_summary` with columns for the calculations above.
#pd.DataFrame([[school_types, per_school_counts, per_school_budget, per_capita_budget, 
                                #  per_school_math, per_school_reading, per_school_passing_math, 
                                 # per_school_passing_reading, overall_passing_rate]],
                                #columns=[['School Type', 'Total Students', 'Total School Budget', 'Per Student Budget', 
                                 #          'Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing']])

per_school_summary = pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(pd.merge(school_types,
                                        per_school_counts, on='school_name'),
                                       per_school_budget,on='school_name'),
                                      per_capita_budget,on='school_name'), per_school_math, on='school_name'),
                                      per_school_reading,on='school_name'), per_school_math_df, on="school_name"),
                                        per_school_reading_df, on='school_name'),per_school_overall_df, on='school_name')
            
            
# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.dtypes

school_name               object
School Type               object
Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [223]:
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map('${:,.2f}'.format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2%}".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2%}".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2%}".format)



# Display the DataFrame
per_school_summary

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%

In [224]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.


# Formatting
#per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
#per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
#per_school_summary

## Highest-Performing Schools (by % Overall Passing)

In [225]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by=['% Overall Passing'], ascending=False)
top_schools.head(5)

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [226]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by=['% Overall Passing'])
bottom_schools.head(5)

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [227]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean().math_score
tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean().math_score
eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean().math_score
twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean().math_score
#figuring out how to label column properly

C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\1728546422.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean().math_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\1728546422.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grader_math_scores = tenth_graders.groupby(["school_name"]).mean().math_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\1728546422.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grader_math_scores = eleventh_graders.groupby(["school_name"]).mean().math_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\1728546422.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grader_math_scores = twelfth_graders.groupby(["school_name"]).mean().math_score

In [228]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.merge(pd.merge(pd.merge(ninth_grade_math_scores,tenth_grader_math_scores, on='school_name'),
                                eleventh_grader_math_scores, on="school_name"),twelfth_grader_math_scores, on='school_name')
math_scores_by_grade.rename(columns = {'math_score_x':'9th', 'math_score_y':'10th','math_score_x':'11th','math_score_y':'12th'}, inplace = True)
#https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/
# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\3602786560.py:2: FutureWarning: Passing 'suffixes' which cause duplicate columns {'math_score_x'} in the result is deprecated and will raise a MergeError in a future version.
  math_scores_by_grade = pd.merge(pd.merge(pd.merge(ninth_grade_math_scores,tenth_grader_math_scores, on='school_name'),

                            11th       12th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [229]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean().reading_score
tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean().reading_score
eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).mean().reading_score
twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).mean().reading_score

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.merge(pd.merge(pd.merge(ninth_grade_reading_scores,tenth_grader_reading_scores, on='school_name'),
                                eleventh_grader_reading_scores, on="school_name"),twelfth_grader_reading_scores, on='school_name')
reading_scores_by_grade.rename(columns = {'reading_score_x':'9th', 'reading_score_y':'10th','reading_score_x':'11th','reading_score_y':'12th'}, inplace = True)

# Minor data wrangling
#reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\2194007210.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean().reading_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\2194007210.py:9: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  tenth_grader_reading_scores = tenth_graders.groupby(["school_name"]).mean().reading_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\2194007210.py:10: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  eleventh_grader_reading_scores = eleventh_graders.groupby(["school_name"]).mean().reading_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\2194007210.py:11: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  twelfth_grader_reading_scores = twelfth_graders.groupby(["school_name"]).mean().reading_score
C:\Users\Kyle\AppData\Local\Temp\ipykernel_3252\2194007210.py:14: FutureWarning: Passing 'suffixes' which cause duplicate columns {'reading_score_x'} in the result is deprecated and will raise a MergeError in a future version.
  reading_scores_by_grade = pd.merge(pd.merge(pd.merge(ninth_grade_reading_scores,tenth_grader_reading_scores, on='school_name'),

                            11th       12th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [230]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [231]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()
school_spending_df.columns

Index(['school_name', 'School Type', 'Total Students', 'Total School Budget',
       'Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Passing Math', '% Passing Reading', '% Overall Passing'],
      dtype='object')

In [232]:
per_capita_budget.columns

Index(['school_name', 'Per Student Budget'], dtype='object')

In [233]:
# Use `pd.cut` to categorize spending based on the bins.
#https://stackoverflow.com/questions/55765545/issues-with-binning-using-pandas-cut
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_capita_budget['Per Student Budget'], spending_bins, labels=labels)

school_spending_df.set_index('school_name', inplace = True)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-645

In [234]:
school_spending_df.dtypes

School Type                        object
Total Students                      int64
Total School Budget                object
Per Student Budget                 object
Average Math Score                 object
Average Reading Score              object
% Passing Math                     object
% Passing Reading                  object
% Overall Passing                  object
Spending Ranges (Per Student)    category
dtype: object

In [235]:
#  Calculate averages for the desired columns. 
#need to get obj to float
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

TypeError: Could not convert 83.2783.0683.8083.68 to numeric

In [ ]:
# Assemble into DataFrame
spending_summary =
# Display results
spending_summary

## Scores by School Size

In [236]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [237]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts['Total Students'], size_bins, labels=labels)
per_school_summary

,school_name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
0,Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,Large (2000-5000)
1,Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,Large (2000-5000)
2,Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,Medium (1000-2000)
3,Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,Large (2000-5000)
4,Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,Medium (1000-2000)
5,Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,Large (2000-5000)
6,Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,Medium (1000-2000)
7,Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,Large (2000-5000)
8,Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
9,Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
10,Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,Medium (1000-2000)
11,Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,Large (2000-5000)
12,Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,Large (2000-5000)
13,Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,Large (2000-5000)
14,Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,Medium (1000-2000)

In [238]:
# Calculate averages for the desired columns. 
#object to float
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

TypeError: Could not convert 83.8083.84 to numeric

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =
# Display results
size_summary

## Scores by School Type

In [239]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
#obj to float
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

TypeError: Could not convert 83.3683.3583.2783.0683.8083.8483.6883.42 to numeric

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 
# Display results
type_summary

In [ ]:
Written Report:
    The dataset goes very indepth into student passing rates and school spending rates.
    The first thing that stood out to me was that the lowest spending per student schools had a 
    good overall passing rate. All of the school but one with overall passing rates in the 50's were spending
    atleast 630 dollars per student. I would think the lower funded schools would perform worse. 
    
    The second thing that caught my eye was that the larger school struggled the most with overall
    passing rates. Most of these failing schools are the same from the previous observation.
    This makes sense that the larger schools are getting more funds, but that is clearly
    helping with the overall passing rates.